# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/AutonoomBB/.project
/AutonoomBB/.cproject
/AutonoomBB/.settings/*
/AutonoomBB/.gitignore

/**/.cproject
*/.gitignore
/AutonoomBB/Beagle/AutonoomBB.exe